* {
  margin: 0;
  padding: 0;
  border: 0;
}
html {
  font-size: 62.5%;
}
body {
  font-family: 'Press Start 2P', cursive;
  font-size: 1.6rem;
  line-height: 110%;
}

ul,
li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}
button {
  outline: none;
}
