.container {
  display: grid;
  grid-template-columns: 300px 200px;
  justify-content: center;

  margin-top: 16px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#board {
  border: 2px solid black;
}

.play-btn {
  font-size: 1.6rem;

  padding: 15px 30px;

  background-color: green;

  cursor: pointer;
}

h1 {
  padding-bottom: 20px;
}
